#Projects{
    background: #B09B71;
    padding-top: 60px;
}
.projects{
    background: #B09B71;
    h2 {
        text-align: center;
        font-family: Lucida Console;
        text-transform: uppercase;
        padding-bottom: 20px;
    }
    
}
.projects__end{
    background: #B09B71;
    padding-bottom: 40px;
}